<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Registration</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Student Registration Form</h1>
  <form action="/register" method="post">
    <label for="name">Name:</label><br>
    <input type="text" name="name" required>

    <label for="surname">Surname:</label><br>
    <input type="text" name="surname" required>

    <label for="birthdate">Birthdate:</label><br>
    <input type="date" name="birthdate" required>

    <label for="telephone">Telephone:</label><br>
    <input type="tel" name="telephone" required>

    <label for="address">Address:</label><br>
    <input type="text" name="address" required>

    <label for="city">City:</label><br>
    <input type="text" name="city" required>

    <label for="zipCode">Zip Code:</label><br>
    <input type="text" name="zipCode" required>

    <label for="state">State:</label><br>
    <input type="text" name="state" required>

    <label for="country">Country:</label><br>
    <input type="text" name="country" required>

    <label for="hobbies">Hobbies:</label><br>
    <input type="text" name="hobbies">

    <label for="qualifications">Qualifications:</label><br>
    <input type="text" name="qualifications">

    <label for="languages">Languages:</label><br>
    <input type="text" name="languages">

    <button type="submit">Register</button>
  </form>
</body>

</html>
