<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Registration</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <form action="/register" method="post">
    <h1>Student Registration Form</h1>
    <label for="name">Name:</label>
    <input type="text" name="name" required>

    <label for="surname">Surname:</label>
    <input type="text" name="surname" required>

    <label for="birthdate">Birthdate:</label>
    <input type="date" name="birthdate" required>

    <label for="email">Email:</label>
    <input type="email" name="email" required>

    <label for="gender">Gender:</label>
    <input type="text" name="gender" required>

    <label for="telephone">Telephone:</label>
    <input type="tel" name="telephone" required>

    <label for="address">Address:</label>
    <input type="text" name="address" required>

    <label for="city">City:</label>
    <input type="text" name="city" required>

    <label for="zipCode">Zip Code:</label>
    <input type="text" name="zipCode" required>

    <label for="state">State:</label>
    <input type="text" name="state" required>

    <label for="country">Country:</label>
    <input type="text" name="country" required>

    <label for="courses">Courses:</label>
    <select name="courses" multiple>
      <% courses.forEach(course => { %>
        <% if (course.isActive) { %>
          <option value="<%= course._id %>"><%= course.name %></option>
        <% } %>
      <% }) %>
    </select>    
    <% console.log(courses); %>

    <label for="hobbies">Hobbies:</label>
    <input type="text" name="hobbies">

    <label for="qualifications">Qualifications:</label>
    <input type="text" name="qualifications">

    <label for="languages">Languages:</label>
    <input type="text" name="languages">

    <button type="submit">Register</button>
  </form>
</body>

</html>
